<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx.xsd
http://code.alibabatech.com/schema/dubbo 
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!-- 加载配置文件 --> 
    <context:property-placeholder location="classpath*:properties/*.properties"/>
   <!--  <context:property-placeholder location="classpath:properties/fastdfs.properties"/> -->
	<!-- 包扫描 -->
	<context:component-scan base-package="com.taotao.service"/>
	
	<!-- 使用dubbo发布服务 -->	
	<!-- 提供方信息，name：是服务提供方的名字 用来计算依赖关系 计算依赖调用次数 -->
	<dubbo:application name="taotao-content"/>
	<dubbo:registry protocol="zookeeper" address="yhoo.fun:2181,yhoo.fun:2182,yhoo.fun:2183"/>
	<!-- 使用dubbo协议再20880暴露服务 在本机 -->
	<dubbo:protocol name="dubbo" port="20881"/>
	
	<!-- 声明要暴露的服务 -->
	<dubbo:service interface="com.taotao.service.ContentCategortyService" ref="contentCategoryServiceImpl"/>
	<dubbo:service interface="com.taotao.service.ContentService" ref="contentServiceImpl"/>
</beans>